body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: url(../assets/bg.jpg);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
main {
  background-color: #fff;
  padding: 1rem 2rem;
  border-radius: 15px;
}
h1 {
  font-size: 20px;
  font-weight: bold;
  text-decoration: underline;
  font-style: italic;
}
label {
  display: block;
  margin: 0.5rem 0;
}
.text-input {
  padding: 0.7rem 1rem;
  width: 90%;
  border-radius: 10px;
  background: transparent;
  border: 1px solid #aaa;
}
input[type="submit"] {
  background-color: #325ea8;
  padding: 0.5rem 1rem;
  border-radius: 10px;
}
input[type="submit"]:hover {
  background-color: #fff;
  color: #325ea8;
}
#link-return {
  margin: 1rem 0;
  font-size: 0.8rem;
}
